.main-wrapper {
    min-height: 100vh;
}

.content-container {
    display: flex;
    width : 440px;
    height: 100vh;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
