.main-wrapper {
    min-height: 100vh;
}

.content-container {
    display: flex;
    width : 440px;
    height: 100vh;
    background-color: #181a1f;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-container::before {
    content: '';
    position: absolute;
    top: -107px;
    left: 0;
    width: 364px;
    height: 365px;
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgb(239.34, 136.48, 237.01) 0%,
        rgb(113.63, 105.29, 227.08) 54.46%,
        rgb(131.21, 80.42, 219.16) 100%
    );
    border-radius: 181.87px/182.49px;
    filter: blur(81.55px);
    mix-blend-mode: overlay;
    opacity: 0.5;
 }
 
 .content-container::after {
    content: '';
    position: absolute;
    bottom: 52px;
    left: 141px;
    width: 441px;
    height: 443px;
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgb(239.34, 136.48, 237.01) 0%,
        rgb(113.63, 105.29, 227.08) 54.46%,
        rgb(131.21, 80.42, 219.16) 100%
    );
    border-radius: 220.59px/221.34px;
    filter: blur(81.55px);
    mix-blend-mode: overlay;
    opacity: 0.5;
 }